@page "/"
@using Microsoft.AspNetCore.Authorization
@*@attribute [AllowAnonymous]*@
@attribute [Authorize(Roles = "User")]
<PageTitle>SRLearning</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
